@import 'variables';

.land {
  height: 100%;
  display: table;
  margin: auto;

  body {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: #14233c;
    font-size: 25px;
    color: white;
    font-weight: 300;
    vertical-align:middle;
    background-color: $bkgrd-blue;
  }
  
  img {
    width: 200px;
  }
  
  a {
    color: #428bca;
  }
  
  a:hover {
    text-decoration: none;
    color: #428bca;
  }
  
  p {
    text-align: center;
  }
  
  .icon {
    text-align: center;
  }
}
